[default]
strategy = static
base_fee_msat = 1000
fee_ppm = 10

[ignored_channels]
match = id
channels = 634065x1386x0, 627436x2597x1
nodes = 02da8d5a759ee9e4438da617cfdb61c87f723fb76c4b6371b877d0347abe953a4f
strategy = ignore

[expensive]
match = peerpolicy
min_fee_ppm = 1000
strategy = match_peer

[leafnode]
match = private
private = true
strategy = static
base_fee_msat = 1000
fee_ppm = 100

[outgoing_offbalance]
match = initiator,balance
initiator = true
min_ratio = 0.8
strategy = static
base_fee_msat = 1000
fee_ppm = 1
