[default]
strategy = static
base_fee_msat = 1000
fee_ppm = 10

[ignored_channels]
match = id
#nodes = 02da8d5a759ee9e4438da617cfdb61c87f723fb76c4b6371b877d0347abe953a4f
strategy = ignore

[expensive]
match = peerpolicy
min_fee_ppm = 1000
strategy = match_peer

[leafnode]
match = private
private = true
strategy = static
base_fee_msat = 1000
# charge non-routing peers a bit more for our service
fee_ppm = 100

[beginner_node]
match = peersize
max_sats = 1000000
strategy = static
base_fee_msat = 0
fee_ppm = 1

[feesforbalance_big]
match = balance,peersize
min_ratio = 0.8
min_capacity = 2000000
min_sats = 50000000
strategy = static
base_fee_msat = 500
fee_ppm = 5

[feesforbalance_big_reverse]
match = balance,peersize
max_ratio = 0.2
min_capacity = 2000000
min_sats = 50000000
strategy = static
base_fee_msat = 1000
fee_ppm = 100
