# all channels same static fees
# no outgoing activity in 14 days: 50 ppm
# low outgoing activity in 7 days: 100 ppm

[default]
strategy = static
fee_ppm = 200

[very-low-out-flow]
chan.activity_period=14d
chan.max_htlcs_out = 0
strategy = static
fee_ppm = 50

[low-out-flow]
chan.activity_period=7d
chan.max_htlcs_out = 1
strategy = static
fee_ppm = 100
