# all channels max_htlc set to a value proportional to
# local balance, with specified number of divisions
# e.g.
#      slices = 10
#      channel_size = 1_000_000 sats
#      max_htlc values:
#      100_000, 200_000, 300_000, 400_000, 500_000
#      600_000, 700_000, 800_000, 900_000, 1_000_000
#
#      slices = 2
#      channel_size = 800_000_sats
#      max_htlc values:
#      400_000, 800_000
#
# Rationale: avoid insufficient local balance failures
# to improve your node's reputation of successful forwarding.

[default]
strategy = ignore

[proportional_htlc]
chan.max_local_balance = 30_000_000
strategy = static
max_htlc_proportional_slices = 6