# all channels fees according to ratio to auto-balance,
# also taking into consideration multiple channels per peer
# fees are updated when fee delta >= 10

[default]
strategy = proportional
base_fee_ppm = 1000
min_fee_ppm = 100
max_fee_ppm = 300
min_fee_ppm_delta = 10

# Enable special multiple channel per peer calculations
sum_peer_chans = true
