# Some examples of using per node shared channel policies.
# For demonstration only!
# Some of these policies might not make sense for real use.

# Proportional multi channel fee balancing for default policy
[default]
strategy = proportional
sum_peer_chans=true
base_fee_msat = 0
min_fee_ppm = 0
max_fee_ppm = 400
min_fee_ppm_delta = 10

# Turn off activity to nodes with inactive channels
[avoid-nodes-with-inactive-channels]
node.min_shared_channels_inactive = 1
strategy = disable

# Turn off activity to nodes with high ratio inactive
[avoid-nodes-with-high-inactive-ratio]
node.min_shared_ratio = 0.90
node.min_shared_ratio_inactive = 0.99
strategy = disable

# Turn off activity to nodes with high capacity inactive
[avoid-nodes-with-high-inactive-capacity]
node.min_shared_capacity_inactive = 100_000_000
strategy = disable

# Reduce fee for low inactive ratio
[reduce-fee-for-low-inactive-ratio]
node.max_shared_ratio = 0.10
node.max_shared_ratio_inactive = 0.01
max_fee_ppm = 200

# Reduce fee for low inactive capacity
[reduce-fee-for-low-inactive-capacity]
node.max_shared_capacity_inactive = 100_000_000
max_fee_ppm = 200

# Ignore inactive nodes
[inactive-nodes]
node.max_shared_channels_active = 0
strategy = ignore

# Discourage routing through active channels with very low ratio
[low-ratio]
node.max_shared_ratio_active = 0.01
node.min_shared_channels_active = 1

strategy = static
fee_ppm = 2000

# Discourage routing through active channels with very low capacity
[low-capacity]
node.max_shared_capacity_active = 10000
node.min_shared_channels_active = 1

strategy = static
fee_ppm = 1000

# Encourage routing through active channels with very high ratio
[high-ratio]
node.min_shared_ratio_active = 0.99
strategy = static
fee_ppm = 0

# Encourage routing through active channels with very high capacity
[high-capacity]
node.min_shared_capacity_active = 500_000_000
strategy = static
fee_ppm = 0