# all channels same static fees
# lower fees when channel balance ratio > 90%
# increase fees when channel balance ratio < 10%
# disable channel when route unlikely to fit most HTLCs (< 30,000 sats)

[default]
strategy = static
fee_ppm = 200

[mydefaults]
base_fee_msat = 1000
min_fee_ppm_delta = 10

[very-low-local-balance]
chan.max_local_balance = 30_000
strategy = disable

[low-local-balance]
chan.max_ratio = 0.1
strategy = static
fee_ppm = 300

[high-local-balance]
chan.min_ratio = 0.9
strategy = static
fee_ppm = 100
